# Django settings for security and debugging
SECRET_KEY='your-secret-key-here'  # Secret key for Django encryption and security-related operations
DEBUG=True  # Enable debug mode for development, should be set to False in production

# Allowed hosts for the Django application
ALLOWED_HOSTS=['47.101.223.251', '127.0.0.1', 'localhost', '192.168.205.49', 'backend']  # List of hostnames and IP addresses allowed to connect to the Django app

# CORS settings for allowing specific origins
CORS_ORIGIN_WHITELIST=['http://localhost:3000', 'http://127.0.0.1:3000', 'http://127.0.0.1:4000', 'http://127.0.0.1:3003', 'http://web:3000', 'http://workflow:3003', 'http://docs:4000']  # List of origins allowed to make cross-origin requests

# CSRF trusted origins
CSRF_TRUSTED_ORIGINS=['http://localhost:3000', 'http://127.0.0.1:4000', 'http://127.0.0.1:3003', 'http://web:3000', 'http://workflow:3003', 'http://docs:4000']  # List of origins trusted for CSRF protection

# JWT settings for token lifetime
ACCESS_TOKEN_LIFETIME=30  # Lifetime of access tokens in minutes
REFRESH_TOKEN_LIFETIME=14  # Lifetime of refresh tokens in days

# Database configuration
DATABASE_ENGINE="django.db.backends.postgresql"  # Database engine
DATABASE_HOST="db"  # Database hostname
DATABASE_NAME="your-database-name"  # Database name
DATABASE_USER="your-database-username"  # Database username
DATABASE_PASSWORD="your-database-password"  # Database password
DATABASE_PORT="5432"  # Database port

# Elasticsearch configuration
ELASTICSEARCH_PASSWORD="your-elasticsearch-password"  # Elasticsearch password
ELASTICSEARCH_USERNAME="elastic"  # Elasticsearch username
ELASTICSEARCH_HOST="http://elasticsearch:9200"  # Elasticsearch host address

# Email configuration
EMAIL_HOST="smtp.feishu.cn"  # Email server hostname
EMAIL_HOST_USER="noreply@yourdomain.com"  # Email server username
EMAIL_HOST_PASSWORD="your-email-password"  # Email server password

# JWT cookie settings
JWT_COOKIE_DOMAIN="127.0.0.1"  # Domain for JWT cookies
JWT_COOKIE_SAMESITE="Lax"  # SameSite attribute for JWT cookies
JWT_COOKIE_SECURE=False  # Whether JWT cookies should only be sent over HTTPS