DEBUG = True
DATABASE_HOST = "db"
DATABASE_USER = "database_username"
DATABASE_PASSWORD = "database_password"
DATABASE_NAME = "database_name"
DATABASE_PORT = "5432"
ELASTICSEARCH_USERNAME = "elastic_username"
ELASTICSEARCH_PASSWORD = "elastic_password"

