# Django settings for security and debugging

# SECRET_KEY is a critical setting for Django's encryption and security-related operations.
# You should generate a unique and unpredictable key for your production environment.
# NEVER share your SECRET_KEY publicly or commit it to version control.
# You can generate a new key using Django's built-in utility:
# from django.core.management.utils import get_random_secret_key
# print(get_random_secret_key())
# This is an example key, generate a new one for your project.
SECRET_KEY='djangoinsecure-4f!^4k{{input}}2s^m2s#3y+5e!v6m2z#8f@7@t\\\$4&4@1t2z'

# Enable debug mode for development, should be set to False in production
DEBUG=False

# List of hostnames and IP addresses allowed to connect to the Django app
ALLOWED_HOSTS=["*"]

# CORS settings for allowing specific origins
CORS_ORIGIN_ALLOW_ALL=True
# CORS_ORIGIN_WHITELIST=["http://localhost:3000", "http://127.0.0.1:3000", "http://127.0.0.1:4000", "http://127.0.0.1:3003", "http://web:3000", "http://workflow:3003", "http://docs:4000"]  # List of origins allowed to make cross-origin requests

# CSRF trusted origins
# CSRF_TRUSTED_ORIGINS=["http://localhost:3000", "http://127.0.0.1:4000", "http://127.0.0.1:3003", "http://web:3000", "http://workflow:3003", "http://docs:4000"]  # List of origins trusted for CSRF protection

# JWT settings for token lifetime
# Lifetime of access tokens in minutes
ACCESS_TOKEN_LIFETIME=30
# Lifetime of refresh tokens in days
REFRESH_TOKEN_LIFETIME=14

# Database configuration
DATABASE_ENGINE="django.db.backends.postgresql"
DATABASE_HOST="db"
DATABASE_NAME="your-database-name"
DATABASE_USER="your-database-username"
DATABASE_PASSWORD="your-database-password"
DATABASE_PORT="5432"

# Elasticsearch configuration
ELASTICSEARCH_PASSWORD="your-elasticsearch-password"
ELASTICSEARCH_USERNAME="elastic"
ELASTICSEARCH_HOST="http://elasticsearch:9200"

# Email configuration
# Email accounts for sending registration and password reset emails
# If you don't use this feature, you can leave these settings default
# You can login with the default admin account and create users manually
# Default admin account: PROTIUM, password: admin, email: admin@example.com
# EMAIL_HOST="smtp.feishu.cn"
# EMAIL_HOST_USER="noreply@yourdomain.com"
# EMAIL_HOST_PASSWORD="your-email-password"

# JWT cookie settings
# Whether JWT cookies should only be sent over HTTPS
JWT_COOKIE_SECURE=False  # default is True, set to False for development
# Domain for JWT cookies, default is 127.0.0.1
# JWT_COOKIE_DOMAIN="127.0.0.1"
# SameSite attribute for JWT cookies, default is Lax
# JWT_COOKIE_SAMESITE="Lax"