**/*/__pycache__
**/.DS_Store
*/.env
db.sqlite3
.vscode/
.hintrc
*/uwsgi.ini
*/static/
VFronted/
Practice/
my-app/

# Ignore all .pyc files
*.pyc

elasticsearch/

DFlow/

@SandBox/

example/

# docker related
.env
docker-compose.yml
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
build.sh
dev.sh