SECRET_KEY = "example-secret-key"
DEBUG = True
ALLOWED_HOSTS = ["example-allowed-hosts"]
CORS_ORIGIN_WHITELIST = [
    "http://localhost:3000",
    "http://127.0.0.1:3000",
    "http://127.0.0.1:4000",
    "http://example.whitelisted.host",
]
CSRF_TRUSTED_ORIGINS = ["http://localhost:3000", "http://127.0.0.1:4000"]
ACCESS_TOKEN_LIFETIME = 30
REFRESH_TOKEN_LIFETIME = 14
DATABASE_ENGINE = "django.db.backends.postgresql"
DATABASE_HOST = "localhost"
DATABASE_NAME = "example-db-name"
DATABASE_USER = "example-db-user"
DATABASE_PASSWORD = "example-db-password"
DATABASE_PORT = "5432"
GITHUB_AUTH_ID = "example-github-auth-id"
GITHUB_AUTH_SECRET = "example-github-auth-secret"
EMAIL_HOST = "example-email-host"
EMAIL_HOST_USER = "example-email-user"
EMAIL_HOST_PASSWORD = "example-email-password"
JWT_COOKIE_DOMAIN = "127.0.0.1"
JWT_COOKIE_SAMESITE = "Lax"
JWT_COOKIE_SECURE = False
ELASTICSEARCH_PASSWORD = "example-elasticsearch-password"
ELASTICSEARCH_USERNAME = "example-elasticsearch-username"
ELASTICSEARCH_HOST = "https://localhost:9200"
ELASTICSEARCH_CA_CERTS = "example-path-to-elasticsearch-ca-certs"