@tailwind base;

/* 隐藏 React-Flow 的商标 */
.react-flow__attribution {
    display: none;
}

/* 自定义搜索高亮 Style */
mark {
    background: none;
    color: rgb(129 140 248 / var(--tw-text-opacity))
}

/* 隐藏滚动条 */
.scrollbar-w-0::-webkit-scrollbar {
    width: 0px;
}

.inert::-webkit-scrollbar {
    display: none;
}

.inert::-webkit-scrollbar-thumb {
    display: none;
}

/* 减少滑动条的宽度，并设置其透明度为50% */

.inert-opacity::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2); /* 设置透明度为50% */
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-w-2::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
}