@tailwind base;

/* 隐藏 React-Flow 的商标 */
.react-flow__attribution {
    display: none;
}

/* 自定义搜索高亮 Style */
mark {
    background: none;
    color: rgb(129 140 248 / var(--tw-text-opacity))
}

/* 隐藏滚动条 */
.scrollbar-w-2::-webkit-scrollbar {
    width: 2px;

}

.scrollbar-w-0::-webkit-scrollbar {
    width: 0px;
}

.inert::-webkit-scrollbar {
    display: none;
}

.inert::-webkit-scrollbar-thumb {
    display: none;
}

.scrollbar-w-2::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
}