{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
  </head>
  <body>
    <div>
      <style type="text/css"></style>
      <style type="text/css"></style>
      <div class="rps_4063">
        <div style="
            margin: 0px;
            padding: 0px;
            font-family: Arial, serif, EmojiFont;
            display: block;
          ">
          <div>
            <div style="
                margin: 0 auto;
                max-width: 620px;
                background: #f9f9f9;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
              ">
              <table style="
                  padding: 0;
                  border-spacing: 0px;
                  border-collapse: collapse;
                  border: 0;
                  font-size: 0;
                  width: 100%;
                  background: #f9f9f9;
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;
                ">
                <tbody>
                  <tr>
                    <td style="
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        vertical-align: top;
                        font-size: 0;
                        padding: 0px 10px;
                      ">
                      <div class="x_table-padding-full-width" style="
                          margin: 0 auto;
                          vertical-align: top;
                          display: inline-block;
                          text-align: left;
                          width: 100%;
                          max-width: 560px;
                        ">
                        <table style="
                            padding: 0;
                            border-spacing: 0px;
                            border-collapse: collapse;
                            border: 0;
                            width: 100%;
                            height: 73px;
                          ">
                          <tbody>
                            <tr>
                              <td style="padding: 20px 0 20px 0">
                                <table style="
                                    padding: 0;
                                    border-spacing: 0px;
                                    border-collapse: collapse;
                                    border: 0;
                                  ">
                                  <tbody>
                                    <tr>
                                      <td style="text-align: left;">
                                        <p style="font-weight: bold; font-size: 24px">DeepModeling</p>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="
                margin: 0 auto;
                max-width: 620px;
                text-align: center;
                margin-left: auto;
                  ">
              <table style="
                  padding: 0;
                  border-spacing: 0px;
                  border-collapse: collapse;
                  border: 0;
                  font-size: 0;
                  width: 100%;
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;
                ">
                <tbody>
                  <tr>
                    <td style="
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        vertical-align: top;
                        font-size: 0;
                        padding: 0px;
                      ">
                      <div class="x_table-full-width" style="
                          vertical-align: top;
                          display: inline-block;
                          font-size: 13px;
                          text-align: left;
                          width: 100%;
                        ">
                        <table style="
                            padding: 0;
                            border-spacing: 0px;
                            border-collapse: collapse;
                            border: 0;
                            width: 100%;
                          ">
                          <tbody>
                            <tr>
                              <td style="
                                  padding: 10px 0;
                                  background: #9d9c9c;
                                  text-align: center;
                                  margin-left: auto;
                                  margin-right: auto;
                                ">
                                <div style="
                                    background-color: rgb(157, 156, 156);
                                    line-height: 16px;
                                    color: rgb(255, 255, 255);
                                    font-size: 16px;
                                    font-weight: 400;
                                    font-family: Arial, serif, EmojiFont;
                                  ">
                                  {% block title %}
                                  {% endblock %}
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="margin: 0 auto; max-width: 620px; background: #f9f9f9">
              <table style="
                  padding: 0;
                  border-spacing: 0px;
                  border-collapse: collapse;
                  border: 0;
                  font-size: 0;
                  width: 100%;
                  background: #f9f9f9;
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;
                ">
                <tbody>
                  <tr>
                    <td style="
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        vertical-align: top;
                        font-size: 0;
                        padding: 0 10px;
                      ">
                      <div class="x_table-padding-full-width" style="
                          vertical-align: top;
                          display: inline-block;
                          font-size: 13px;
                          text-align: left;
                          width: 100%;
                          max-width: 560px;
                        ">
                        <table style="
                            padding: 0;
                            border-spacing: 0px;
                            border-collapse: collapse;
                            border: 0;
                            vertical-align: top;
                            width: 100%;
                          ">
                          <tbody>
                            <tr>
                              <td style="padding: 40px 0 20px 0; text-align: left">
                                <div style="
                                    color: rgb(111, 111, 111);
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    font-family: Arial, serif, EmojiFont;
                                  ">Dear Explorer,</div>
                              </td>
                            </tr>
                            <tr>
                              <td style="padding: 20px 0 40px 0; text-align: left">
                                <div style="
                                    color: rgb(111, 111, 111);
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    font-family: Arial, serif, EmojiFont;
                                  ">
                                  {% block content %}
                                  {% endblock %}
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="
                                  background: transparent;
                                  font-size: 0;
                                  padding: 0px 0 40px 0;
                                  text-align: center;
                                  margin-left: auto;
                                  margin-right: auto;
                                ">
                                <table style="
                                    padding: 0;
                                    border-spacing: 0px;
                                    border-collapse: collapse;
                                    border: 0;
                                    text-align: center;
                                    margin-left: auto;
                                    margin-right: auto;
                                  ">
                                  <tbody>
                                    <tr>
                                      <td class="x_over-bg-grey" lang="x-over-bg-grey" style="
                                          background: #00a0d2;
                                          color: #ffffff;
                                          border: 1px solid #00a0d2;
                                          text-align: center;
                                          margin-left: auto;
                                          margin-right: auto;
                                          vertical-align: top;
                                        ">
                                        <button onclick=copyToClipboard() rel="noopener noreferrer" data-auth="NotApplicable" id="x_activationLink" class="x_over-bg-grey" lang="x-over-bg-grey" style="
                                            display: inline-block;
                                            text-decoration: none;
                                            background: #00a0d2;
                                            border: 1px solid #00a0d2;
                                            color: #ffffff;
                                            font-size: 14px;
                                            font-weight: normal;
                                            padding: 10px 36px;
                                            font-family: Arial;
                                            word-break: break-all;
                                          " data-linkindex="1">
                                          <span style="
                                              font-size: 16px;
                                              background-color: transparent;
                                              font-weight: 400;
                                              text-decoration: none;
                                              vertical-align: baseline;
                                              line-height: 12px;
                                            ">
                                            <strong>
                                              <span id="content-to-copy" style="
                                                  color: #ffffff;
                                                  font-weight: 400;
                                                ">
                                                {% block button %}
                                                {% endblock %}
                                              </span>
                                            </strong>
                                          </span>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            {% comment %} <tr>
                              <td style="text-align: center">
                                <div style="font-family: Arial, serif, EmojiFont">
                                  <p class="x_over-grey" style="
                                      text-decoration: none;
                                      color: #00a0d2;
                                      font-size: 16px;
                                      word-break: break-all;
                                    " data-linkindex="2">{{ active_address }}</p>
                                </div>
                              </td>
                            </tr> {% endcomment %}
                            <tr>
                              <td style="padding: 30px 0 0 0; text-align: left">
                                <div style="
                                    color: rgb(111, 111, 111);
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    font-family: Arial, serif, EmojiFont;
                                  ">Kind regards,</div>
                                <div style="
                                    margin-top: 4px;
                                    color: rgb(111, 111, 111);
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    font-family: Arial, serif, EmojiFont;
                                  ">The DeepModeling Team</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% block footer %}

            {% endblock %}
          </div>
          <!-- <img data-imagetype="External" src="blob:https://"
                 originalsrc="http://"
                 data-imageproxyendpoint="/actions/ei" alt="" width="1" height="1" border="0"
                 style="height:1px!important; width:1px!important; border-width:0!important; margin-top:0!important; margin-bottom:0!important; margin-right:0!important; margin-left:0!important; padding-top:0!important; padding-bottom:0!important; padding-right:0!important; padding-left:0!important">
             -->
        </div>
      </div>
    </div>
  </body>

  <script>
    function copyToClipboard() {
      // 获取要复制的元素
      const contentToCopy = document.getElementById("content-to-copy");

      // 创建一个临时的textarea元素，用于存储要复制的内容
      const tempTextarea = document.createElement("textarea");
      tempTextarea.value = contentToCopy.innerText;

      // 将textarea添加到DOM，使其可选中
      document.body.appendChild(tempTextarea);

      // 选中临时textarea的内容
      tempTextarea.select();

      // 复制选中的内容
      document.execCommand("copy");

      // 从DOM中移除临时textarea
      document.body.removeChild(tempTextarea);

      // 可选: 提示用户已复制内容
      alert("内容已复制到粘贴板！");
    }
  </script>
</html>
